.buttons {
  text-align: center;
}

h2,
h3 {
  text-align: center;
  margin: 0.5rem;
}

table {
  margin: auto;
}

thead > tr > td {
  font-weight: bold;
  font-size: 1.3rem;
  border-bottom: 1px solid black;
}

td {
  padding: 0 1rem;
}
